layout {
    tab {
        pane {
            plugin location="file:target/wasm32-wasi/debug/zjk8s.wasm" {
                kubernetes_context "k8s"

                selected_item_bg               "#737592"
                selected_col_bg                "#2a2b3e"
                selected_col_selected_item_bg  "#737592"
            }
        }
    }
}
